<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties version="1.0">
	
	<!-- 
	   파 일 명 : config.xml
	   설    명 : 기본 설정파일 
	                     
	   작 성 자 : macle(김용수)
	   작 성 일 : 2015.12 (설정파일 리뉴얼)
	   버    전 : 1.2
	   수정이력 : 2017.10, 2019.12
	   기타사항 :	
	  @author Copyrights 2015 ~ 2019 by ㈜위고. All right reserved.
 	-->
 
	<!-- 필수 설정 정보-->
	
	<entry key="application.login.encrypt">N</entry>

	<entry key="application.database.type">oracle</entry>
	<entry key="application.database.driver.class">oracle.jdbc.driver.OracleDriver</entry>

	<!-- 로컬-->
	<entry key="application.database.url">jdbc:oracle:thin:@127.0.0.1:1521:orcl</entry>
	<entry key="application.database.user.name">moara</entry>
	<entry key="application.database.user.password">Ahdkfk1119</entry>
	<entry key="ara.dictionary.file.home">dic/</entry>

	<!-- 개발 01
	<entry key="application.database.url">jdbc:oracle:thin:@192.168.0.61:1521:flora</entry>
	<entry key="application.database.user.name">dev01</entry>
	<entry key="application.database.user.password">dnlrh#01</entry>
	<entry key="ara.dictionary.file.home">devdic/</entry>
-->

	<entry key="application.jdbc.connection.pool.count">10</entry>

	<!-- auto commit N 일경우 이벤트 단위로 commit 실행
       oracle 에서는 Y 일때랑 N 일때랑 차이가없는데 mysql 에서는 차이 있음
       default Y-->
	<entry key="application.jdbc.connection.auto.commit.flag">Y</entry>

	<!-- db 연결이 유효한지 체크하는 시간
		default 5000-->
	<entry key="application.jdbc.connection.valid.time.out">5000</entry>

	<!-- connection 얻기위한 최대 대기 시간
		default 30000-->
	<entry key="application.jdbc.connection.time.out">30000</entry>


	<!-- connection 을 얻을때까지 대기하는 옵션 Y 일경우 재연결 될때까지 대기됨
	   server ='N', engine ='Y' 로하는게 좋을거 같음
	   default N -->
	<entry key="application.jdbc.connection.wait.flag">Y</entry>

	<!-- connection 을 얻을때까지 대기하다가 재시도 하는 주기
		default 10000-->
	<entry key="application.jdbc.connection.wait.try.time">10000</entry>


  	<!-- 단어 파일 debug모드  -->
  	<entry key="word.dictionary.debug.flag">Y</entry>

  	<!-- 단어추출 debug모드  -->
	<entry key="word.extract.debug.flag">N</entry>
  
  
	<!-- 필수 설정 정보 끝 서버,엔진관리 사용이후에는 나머지는 DB에서 관리 / 파일과 DB 엔진별 설정이 있을경우 우선순위는 엔진별설정, 공통설정, 파일으로 동작-->



</properties>